{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block main %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    
     <h2 class="display-4 fw-bolder"> À propos de Booking.com</h2>
   <h3> Petite start-up néerlandaise créée en 1996 à Amsterdam, Booking.com est devenue l’une des plus grandes sociétés d'e-commerce au monde dans le secteur des voyages. Booking.com fait partie de Booking Holdings Inc. (NASDAQ : BKNG) et travaille chaque jour pour qu'explorer le monde soit à la portée de tous.

Pour mener à bien cette mission et permettre à chacun de vivre des expériences en toute simplicité, la société investit dans la technologie. Booking.com propose ainsi à des millions de voyageurs des activités inoubliables, des options de transport optimales et des hébergements incroyables (maisons, hôtels, et bien plus encore). Booking.com est l’une des plus grandes plateformes de voyage au monde et sert aussi bien les grands groupes que les particuliers. Elle permet aux établissements de toutes tailles du monde entier d’atteindre une clientèle internationale et de développer leur activité.

Booking.com est disponible dans 43 langues et propose plus de 28 millions d’hébergements, dont plus de 6,2 millions de maisons, d’appartements et de logements uniques. Quelles que soient votre destination et vos envies, Booking.com facilite vos voyages et vous garantit une assistance 24h/24 et 7j/7. </h3>
   
</div>


{% endblock %}
