{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block main %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    
    <h4>Booking.com est un site néerlandais qui propose des hébergements dans différents types de propriétés allant de l'hôtel au gîte touristique (bed and breakfast) en passant par l'appartement. Il est décliné en 43 autres langues.

Il a commencé comme une petite start-up à Enschede en 1996, financée par l'université de Twente. Le site est désormais basé à Amsterdam ; depuis 2005, il est détenu et exploité par le groupe américain Priceline2.

En 2014, la société est présente dans 59 pays et compte 7 000 employés ; elle propose de l'hébergement dans plus de 540 000 propriétés dans 202 pays. En 2013, cette bannière représentait plus des deux tiers des recettes de Priceline3. Booking.com ne facture pas de frais de réservation à ses clients. Le site finance ses activités en facturant des commissions aux fournisseurs d'hébergement. </h4>
   </ul>
</div>



{% endblock %}
